{% extends 'base.html.twig' %}

{% block title %}Nos produits - La Miche Boutique{% endblock %}

{% block content %}
<h1>Nos produits</h1>
{% for product in products %} {#boucle for qui initialise la variable product pour récupérer tous les produits#}
{% endfor %}
{% endblock %}
