{% extends "base.html.twig" %}
{% block body %}
<h1>Rechercher </h1>
    {% for search in searchs %}
        <div>
            
            <p>Catégories : {{ advert.category }}
            <p>Produits : {{ advert.product }}</p>
             
                  <div class="col-12">
                 
             </div>
            {# Lien vers la fiche de l'annonce : #}
            <a href="{{ path("product_show", {id: product.id}) }}">Voir la fiche</a>
        </div>
    {% else %}
        Aucun article correspond à votre recherche.
    {% endfor %}