{% extends 'base.html.twig' %}

{% block title %}Mon panier - La Miche Boutique{% endblock %}

{% block content %}
<h1>Mon panier</h1>
Articles Ajoutés à votre panier
<hr>
{% dump(cart) %}


{% endblock %}
