{% extends 'base.html.twig' %}

{% block title %}Mon Compte La Miche Boutique{% endblock %}

{% block content %}
<h1>Mon Compte</h1>
Bienvenue 
{{dump (app)}} {#dump permet  d'explorer #}
{% endblock %}
