{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe-La Miche Boutique{% endblock %}

{% block content %}
<h1>Modification mot de passe</h1>


<a href="{{ path ('account')}}">Retourner à mon compte</a> <br/>
<hr>
{{form}}
<hr>
{% endblock %}
