{% extends 'base.html.twig' %}

{% block title %}Hello SearchBarController!{% endblock %}

{% block body %}
 <form action="/recherche/" method="get">
    <fieldset >  
      
      <div class="input-group col-md-5 searchBar">
      <div class="col-md-2">
      <h3>Filtrer</h3>
     </div>
     
      
        <div class="input-group-prepend">
          <select id="oCategorie" name="oCategorie" class="custom-select bg-primary text-light">
            <option selected="selected" value="0">Catégorie</option>
            <option value="1">Bonnets</option>
            <option value="2">Manteaux</option>
            <option value="3">Echarpes</option>
            <option value="4">Tee-shirt</option>
          </select>
        </div>
        <input id="oSaisie" name="oSaisie" type="text" class="form-control" aria-label="Saisie de mots clés" placeholder="Mot(s) clé(s)" required="required">
        <div class="input-group-append">
          <button class="btn btn-primary btn-space" type="submit">Recherche</button>
        </div>
      
    </fieldset> 
    
  </form>
  {% en%}
